.flbox_2sum {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flitem_2sum {
    
    position: relative;
    margin: 10px 10px;
    height: 100px;
    width: 200px;
    border: 2px solid transparent;
    border-radius: 30%;
    box-shadow: 1px 1px 4px rgb(99, 59, 59), 1px 1px 4px darkblue;
}
.flitem_2sum span {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    position: absolute;
    bottom: 5px;
    width: 100%;
}
.flitem_2sum div {
    font-weight: 600;
    font-size: 22px;
    font-family: "Times New Roman", Times, serif;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.flitem_2sum div img {
    height: 30px;
    width: auto;
    animation-name: img;
    animation-duration: 1s;
    animation-iteration-count: infinite;

}

@keyframes img {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-7px);
    }
}

