.flbox_2sum {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flitem_2sum {
    position: relative;
    margin: 10px 10px;
    height: 100px;
    width: 200px;
    border: 2px solid transparent;
    border-radius: 30%;
    box-shadow: 1px 1px 4px rgb(99, 59, 59), 1px 1px 4px darkblue;
}
.flitem_2sum span {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    position: absolute;
    bottom: 5px;
    width: 100%;
}
.flitem_2sum div {
    /* height: 100px;
    width: 200px; */
    font-weight: 600;
    /* color: rgb(150, 0, 0); */
    font-size: 1.5rem;
    font-family: "Times New Roman", Times, serif;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.flitem_2sum div img {
    height: 30px;
    width: auto;
    animation-name: img;
    animation-duration: 1s;
    animation-iteration-count: infinite;

    /* animation-iteration-count: infinite; */
}
/* .flbox_2sum:hover .flitem_2sum div img{
    transform: translateY(-3px);
} */
@keyframes img {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-7px);
    }
}
/* .flbox_2sum * {
    border: 1px solid black;
} */
