.detailTable{
    width: 100%;
}
.detailTable tr{
    border-bottom: 1px solid black;
}
.detailTable td,th{
    padding: 1%;
    text-align: center;
}
.detailTable th{
    text-align: center !important;
}
.chartjs {
    width: 400px;
}