@import url("https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Days+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Days+One&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.sumary {
  margin: 10% 0;
}
.main {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}
.footer {
  display: flex;
  justify-content: center;
  height: 34px;
  /* border: 1px solid black; */
  align-items: center;
  background-color: #999999;
}
.container {
  width: 65%;

  border-left: 1px solid #e2dddd;
  border-right: 1px solid #e0dcdc;
  height: auto;
}
.title {
  display: flex;
  font-size: 1.5rem;
  justify-content: center;
  margin: 1% 0;
  font-family: "Times New Roman", Times, serif;
}
.page {
  font-family: "Leckerli One", cursive;
  min-height: 96.3vh;
  font-weight: 200 !important;
}
.logo {
  display: flex;
  font-family: "Audiowide", cursive;
  justify-content: space-between;
  color: blue;
  background: linear-gradient(
    90deg,
    rgba(209, 207, 245, 1) 4%,
    rgba(157, 240, 200, 1) 43%,
    rgba(171, 180, 208, 1) 74%,
    rgba(184, 222, 159, 1) 100%
  );
}
.logo > div {
  padding: 1% 3%;
}
.logo > div {
  font-size: 18px;
}
.table1 {
  /* flex-basis: 15%; */
}
.mapcontain {
  height: 50vh;
  width: 100%;
}
@media screen and (max-width: 1197px) {
  .main {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
  }
  .container {
    width: 100%;
  }
  /* summary*/
  .flitem_2sum span {
    font-size: 13px;
    text-align: center;
    line-height: 13px;
  }
  .flitem_2sum div {
    font-size: 18px !important;
  }
}
@media screen and (max-width: 638px) {
  .flbox_2sum {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.flitem_2sum {
    height: 100px;
    width: 100px !important;
}
.flitem_2sum div {
  font-weight: 600;
  font-size: 16px !important;
}
.title {
  padding: 10px 60px;
  display: flex;
  font-size: 0.8rem;
  justify-content: center;
}
.table {
  width: 100%;
  margin-top: -20px;
  margin-bottom: 40px ;
  height: 420px !important;
}

.table tr {
  display: flex;
  justify-content: space-between;
  width: 95vw !important;
}
}
