@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Days+One&display=swap');
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.footer{
  display: flex;
  justify-content: center;
  height: 34px;
  /* border: 1px solid black; */
  align-items: center;
  background-color: #999999;
}
.container{
  width: 70%;
  margin: auto;
  /* text-align: center; */
  border-left: 1px solid #e2dddd;
  border-right: 1px solid #e0dcdc;
  height: auto;
}
.title{
  display: flex;
  justify-content: center;
  margin:1% 0;
}
.page{
  font-family: 'Leckerli One', cursive;
  min-height: 96.3vh;
  font-weight: 200 !important;

}
.logo{
  display: flex;
  font-family: 'Audiowide', cursive;
  justify-content: space-between;
  color: blue;
  background: linear-gradient(90deg, rgba(209,207,245,1) 4%, rgba(157,240,200,1) 43%, rgba(171,180,208,1) 74%, rgba(184,222,159,1) 100%);
}
.logo > div {
  padding: 1% 3%;
}
.logo > div{
  font-size: 1.2rem;
}